/* css (cascading stylensheet) */

/* how to link your css to your html 
<link rel"stylesheet" href"style.css"*/
*{
    font-size: 40px;
    padding: 0;
    margin: 0;
}
body{
    background-color: blueviolet;
    background-image: url(/beauty6.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.box1{
    background-color: black;
    color: aliceblue;
    width: 200px;
    height: 200px;
    text-align: center;
    background-image: url(/peaky-blinders-wallpaper-5120x2880-26624.jpg);
    background-position: center;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    display: flex;
    border: 2px solid rgb(195, 7, 7);
    border-radius: 10px;
    

}
.box1 li {
    list-style: none;
text-decoration: none;



}
.box1 li a {
    color: aliceblue;
    text-decoration: none;
justify-content: space-between;
    
    
}